@page "/category/categoryList"
@using MoneyNoteLibrary5.ViewModels;
@using MoneyNoteLibrary5.Models;
@inject IJSRuntime JS;

@if (ViewModel == null)
{
    <p>가져오는 중...</p>
}
else
{
    <div class="row">
        <div class="col-lg-6 col">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>순번</th>
                        <th>내용</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < ViewModel.MainCategories.Count; i++)
                    {
                        var item = ViewModel.MainCategories[i];

                        <tr>
                            <td>
                                @(i+1)
                            </td>
                            <td @onclick="e=> Test(e, item)">
                                <input type="text" value="@item.Title" />
                                <button type="button">수정</button>
                                <button type="button">삭제</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-lg-6 col">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>순번</th>
                        <th>내용</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < ViewModel.SubCategories.Count; i++)
                    {
                        var item = ViewModel.SubCategories[i];

                        <tr>
                            <td>
                                @(i+1)
                            </td>
                            <td>
                                <input type="text" value="@item.Title" />
                                <button type="button">수정</button>
                                <button type="button">삭제</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@code {
    public MainCategoryViewModel ViewModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (SharedClass.SharedUser == null)
            SharedClass.SharedUser = await SharedClass.GetUserInfo(JS);

        if (SharedClass.SharedUser != null)
        {
            ViewModel = new MainCategoryViewModel(SharedClass.SharedUser, MoneyNoteLibrary5.Enums.MoneyEnum.MoneyCategory.Expense);
            await ViewModel.Initialize();
        }
        //return base.OnInitializedAsync();
    }

    public async Task Test(EventArgs e, MainCategory item)
    {
        await ViewModel?.GetSubCategory(item);
    }
}
