@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">홈페이지로 이동</a>
        </div>

        <div class="content px-4 container">
            @Body
        </div>
    </div>
</div>
