<nav class="top-row pl-4 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/Money/MoneyList">Money Note</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="money/moneylist" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="bankbook/bankBookList">
                <span class="oi oi-plus" aria-hidden="true"></span> 자산 목록
            </NavLink>
        </li>
        @*<li class="nav-item px-3">
                <NavLink class="nav-link" href="fetchdata">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                </NavLink>
            </li>*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="category/categoryList">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 카테고리
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="users/usersetting">
                <span class="oi oi-lock-unlocked" aria-hidden="true"></span> 사용자설정
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
