@page "/money/moneywrite"
@using MoneyNoteLibrary5.ViewModels;
@using MoneyNoteLibrary5.Models;
@inject IJSRuntime JS;

<h3>MoneyWrite</h3>



@code {
    public MoneyHandleViewModel ViewModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (SharedClass.SharedUser == null)
            SharedClass.SharedUser = await SharedClass.GetUserInfo(JS);

        if (SharedClass.SharedUser != null)
        {
            ViewModel = new MoneyHandleViewModel(SharedClass.SharedUser);
        }
        //return base.OnInitializedAsync();
    }

}
