@page "/money/moneywrite"
@using MoneyNoteLibrary5.ViewModels;
@using MoneyNoteLibrary5.Models;
@inject IJSRuntime JS;

<h3>MoneyWrite</h3>
@if (ViewModel == null || ViewModel.IsRunProgressRing)
{
    <h2>가져오는 중...</h2>
}
else
{
    <h4>@ViewModel.Title</h4>
    <input type="text" @bind="ViewModel.Title" />
    <input type="number" @bind="ViewModel.MoneyText" />
    <input type="text" @bind="ViewModel.Description" />
    <select>
        @foreach (var item in ViewModel.MainCategories)
        {
            <option value="@item.Id">@item.Title</option>
        }
    </select>
}


@code {
    public MoneyHandleViewModel ViewModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (SharedClass.SharedUser == null)
            SharedClass.SharedUser = await SharedClass.GetUserInfo(JS);

        if (SharedClass.SharedUser != null)
        {
            ViewModel = new MoneyHandleViewModel(SharedClass.SharedUser);
            await ViewModel.CategoryInitialize();
        }
        //return base.OnInitializedAsync();
    }

}
