@page "/bankbook/bankBookList"
@using MoneyNoteLibrary5.ViewModels;
@using MoneyNoteLibrary5.Models;
@inject IJSRuntime JS;

<h3>BankBookList</h3>


@code {
    [Inject]
    public NavigationManager NavigationManager { get; set; }

    public MoneyViewModel ViewModel { get; set; }

    public DateTimeOffset SelectedDate => ViewModel != null ? ViewModel.SelectedDate : DateTimeOffset.Now;

    protected override async Task OnInitializedAsync()
    {
        if (SharedClass.SharedUser == null)
            SharedClass.SharedUser = await SharedClass.GetUserInfo(JS);

        if (SharedClass.SharedUser != null)
        {
            ViewModel = new MoneyViewModel(SharedClass.SharedUser);
            await ViewModel.GetMoneyList(DateTime.Now);
        }
        //return base.OnInitializedAsync();
    }

    public async Task GetMoneyListWithDate(MouseEventArgs e, DateTime selectedDate)
    {
        await ViewModel.GetMoneyList(selectedDate);
    }

    public void MoveToModify(EventArgs e, Guid moneyGuid)
    {
        if (NavigationManager != null)
            NavigationManager.NavigateTo($"/Money/MoneyWrite/{moneyGuid}");
    }

}